apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: env-volume-claim
  annotations:
    nfs.io/storage-path: "env-volume-claim"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
