apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: song-volume-claim
  annotations:
    nfs.io/storage-path: "song-volume-claim"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
